<h1 class="text-center mt-3">Ingrese datos</h1>

{{> form}}
{{!-- {{#if products}}
    {{> cards}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}} --}}
{{!-- 
<div class="text-center">
	<a href="/productos/li" class="btn btn-dark" >Ver Productos</a>
</div> --}}