<h1 class="text-center  mt-3">Lista de Productos</h1>

{{!-- {{#if products}}
    {{> table}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}} --}}


{{#if products}}
    {{> cards}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}}

<div class="text-center">
    <a href="/products" class="btn btn-danger" > <-- Home</a>
</div>